header {
    display: flex;
    background-color: rgb(71, 67, 67);
    width: 110%;
}
header .mainHeader {
    margin-left: 50px;
    text-decoration: none;
    color: whitesmoke;
    line-height: 130px;
}
header #logout {
    color: red;
}

header a {
    float: left;
}
body {
    width: 98%;
}
main{
    width: 75%;
    margin: auto;
}
a {
    text-decoration: none;
}

a:hover {
    color: purple;
}
button a{
    color: black;
}

button {
    background-color: white;
}

a button {
    background-color: rgb(71, 67, 67);
    color: whitesmoke;
    width: 80%;
    padding: 20px;
    display: flex;
}

#back {
    width: 10%;
}

img {
    margin-top: 10px;
    margin-left: 10px;
}


#logoInpt {
    background-color: rgb(71, 67, 67);
    color: whitesmoke;
}

main h1 {
    text-align: center;
}

main p {
    width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}